@page "{id:int}"
@model Algenic.Areas.Pages.Tasks.ViewModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h4>@Model.Task.Name</h4>
        @Model.Task.Description
        <hr />
        <h5>Add Solution</h5>
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input value="Choose file" type="file" asp-for="SourceCodeFile" />
                </div>
                <input type="submit" class="btn btn-outline-dark" value="Send" />
            </form>
        </div>
    </div>
</div>