@page
@model Algenic.Areas.Admin.Pages.IndexModel
@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="row text-center">
	<h1 class="display-4">Admin panel</h1>
	<div class="col-12 page-section">
		<table class="col-12 table">
			<thead>
			<tr>
				<th>User</th>
				<th>Examiner rights</th>
				<th>Action</th>
			</tr>
			</thead>
				
			<tbody>
			@foreach (var user in Model.Users)
			{
				<tr>
					<td>@user.Name</td>
					<td>@(user.IsExaminer ? "Granted" : "Not granted")</td>
					<td>
						<form asp-page-handler="Access" method="post">
							<input type="hidden" name="userId" value="@user.Id" class="btn btn-outline-dark"/>
							<input type="submit" value="@(user.IsExaminer ? "Revoke" : "Grant")" class="btn btn-outline-dark"/>
						</form>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

